h1{
    color: hotpink;
    font-family: 'Gloria Hallelujah';
}

body{
  background: url(https://i.pinimg.com/736x/6e/f3/92/6ef392e37c17607009538b6ec5966b6a.jpg)
}
a{
  color: red;
    font-family: 'Gloria Hallelujah';
}
#ml{
  color: red;
  size: 25px;
}
